.prev-round-scores {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;

  overflow-x: auto;

  margin: 0 16px 16px;

  .round-score {
    display: inline-block;

    min-width: 24px;
    padding: 4px;

    margin: 0px 4px;

    border-radius: 4px;
    background: #e0e0e0;

    font-size: 12px;
    text-align: center;
  }
}
