.score-history-page {
  max-width: 500px;
  margin: auto;

  padding: 0 16px;

  .scores-table {
    width: 100%;

    .score-value {
      min-width: 50px;
      display: inline-block;
    }

    td {
      font-size: 18px !important;
    }

    th:nth-child(3),
    td:nth-child(3) {
      text-align: right !important;
    }
  }
}
